#map{
  height: 600px;
  width: 500px;
}
#content{
  display: flex;
  flex-direction: row;
}

#firstHeading{
font-size: 14px;
color: #2A77EA;
font-weight: bold;
margin-bottom: 10px;
}

#bodyContent h3{
  font-size: 10px;
  color: #696969;
}

#bodyContent h2 {
  font-size: 12px;
  padding-bottom: 0;
}

#categories{
  overflow: scroll;
}
